@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 2px !important;
    background: none !important;
    ;
}

::-webkit-scrollbar-thumb {
    background: rgb(32, 17, 17) !important;
    ;
}

::-webkit-scrollbar-track {
    background: none !important;
    ;
}

@layer base {
    body {
        @apply bg-black text-white
    }



}